* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Hack, FontAwesome, sans-serif;
    font-size: 14px;
}

window#waybar {
    background: transparent;
    /* background-color: #282A36; */
    /* color: #F8F8F2; */
    /* transition-property: background-color; */
    /* transition-duration: .5s; */
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
    margin-right: 8px;
    border-radius: 10px;
    transition: none;
    background: #282A36;
}

#workspaces button {
    transition: none;
    padding: 5px;
    color: #F8F8F2;
    background: transparent;
    font-size: 18px;

    /* padding: 0 5px; */
    /* background-color: transparent; */
    /* color: #F8F8F2; */
    /* Use box-shadow instead of border so the text isn't offset */
    /* box-shadow: inset 0 -3px transparent; */
    /* Avoid rounded borders under each workspace name */
    /* border: none; */
    /* border-radius: 0; */
}

#workspaces button.persistent {
    transition: none;
    padding: 5px;
    color: #F8F8F2;
    background: transparent;
    font-size: 18px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    border-radius: inherit;
    color: #383c4a;
    background: #44475A;
}

#workspaces button.focused {
    color: white;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
/* #workspaces button:hover { */
/*     background: #44475A; */
/*     box-shadow: inset 0 -3px #F8F8F2; */
/* } */
/**/
#workspaces button.active {
    background-color: #44475A;
    box-shadow: inset 0 -3px #F8F8F2;
}
/**/
/* #workspaces button.urgent { */
/*     background-color: #FF5555; */
/* } */

#window {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

/* #mode { */
/*     background-color: #FF5555; */
/*     border-bottom: 3px solid #F8F8F2; */
/* } */

#memory,
#cpu,
#disk,
#temperature,
#custom-pacman,
#network,
#backlight,
#pulseaudio,
#power-profiles-daemon,
#battery,
#clock,
#tray {
    margin-right: 2px;
    /* padding: 0 10px; */
    /* margin: 0 4px; */
    /* color: #F8F8F2; */
}
/**/
/* #window, */
/* #workspaces { */
/*     margin: 0 4px; */
/* } */

/* If workspaces is the leftmost module, omit left margin */
/* .modules-left > widget:first-child > #workspaces { */
/*     margin-left: 0; */
/* } */

/* If workspaces is the rightmost module, omit right margin */
/* .modules-right > widget:last-child > #workspaces { */
/*     margin-right: 0; */
/* } */

#battery {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#battery.charging {
    color: #ffffff;
    background-color: #26A65B;
}

#battery.warning:not(.charging) {
    background-color: #ffbe61;
    color: black;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* #battery.charging, #battery.full { */
/*     color: #7EA3A3; */
/* } */
/**/
/* #battery.warning:not(.charging) { */
/*     color: #AF9F87; */
/* } */
/**/
/* #battery.critical:not(.charging) { */
/*     color: #CC6666; */
/*     animation-name: blink; */
/*     animation-duration: 0.5s; */
/*     animation-timing-function: linear; */
/*     animation-iteration-count: infinite; */
/*     animation-direction: alternate; */
/* } */

/* #memory.warning { */
/*     color: #FFAE00; */
/* } */
/**/
/* #memory.critical { */
/*     color: #FF0000; */
/* } */

#memory {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#memory.warning {
    background-color: #eb4d4b;
}

#memory.critical {
    background-color: #FF0000;
}

/* #cpu.warning { */
/*     color: #FFFC00; */
/* } */
/**/
/* #cpu.critical { */
/*     color: #FF0000; */
/* } */

#cpu {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#cpu.warning {
    background-color: #eb4d4b;
}

#cpu.critical {
    background-color: #FF0000;
}

/* #disk.warning { */
/*     color: #FF0000; */
/* } */

#disk {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#disk.warning {
    background-color: #eb4d4b;
}

#temperature {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#network {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

/* #backlight { */
/*     color: #F8F8F2; */
/* } */
#backlight {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#pulseaudio {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#network.disconnected {
    color: #FF5555;
}

#clock {
    padding-left: 16px;
    padding-right: 16px;
    /* border-radius: 10px 0px 0px 10px; */
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#power-profiles-daemon {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    /* background-color: #FF5555; */
    background: #383c4a;
}

#tray {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#custom-pacman {
    padding-left: 16px;
    padding-right: 16px;  /* Change from 8px to 16px */
    /* border-radius: 10px 0px 0px 10px; */
    border-radius: 10px;
    transition: none;
    color: #F1FA8C;
    background: #383c4a;
}

#custom-vpn {
    color: #CF9A08;
}

#custom-vpn.disconnected {
    color: #A5351D;
}

@keyframes blink {
    to {
        background-color: #FF5555;
        color: #F8F8F2;
    }
}
